body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.board {
    background-color: lightgray;
    width: 40%;
    padding: 2rem;
    border: 2px solid black;
}

h1 {
    text-align: center;
}

input {
    display: block;
    margin: .5rem;
    margin: 15px auto;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons div {
    margin: .25rem;
    padding: .5rem;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    color: white;
    cursor: pointer;
}

.answer {
    padding: 1.5rem 0rem;
}

.answer h4 {
    display: inline;
    margin: 0px;
}

.result {
    display: inline;
    padding-left: .25rem;
}